{
 :scenario "default"

 :loglevel :info
 :logpattern "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{72} - [scenario=%X{scenario}, run=%X{run-id}] - %m%n"

 :trace-ssh false

 :time-limit 300

 :mongodb {
           :install true
           :configure true
           :username "mongodb"
           :tarball "https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-debian71-3.3.1.tgz"
           :write-concern :majority
           :read-concern :majority
           :storage-engine "wiredTiger"
           :protocol-version 1
           :client-options {
                           :max-wait-time 60000
                           :connect-timeout 60000
                           :socket-timeout 60000
                           }
           }
 }