{
 :scenario "default"

 ; note log level must now be set by modifying logback.groovy - it's loaded at start time, and logs to console and file

 :trace-ssh false

 :time-limit 300

 :concurrency 100

 :os-flavour :debian                                                ; options :debian or :null

 :nemesis-kind :noop                                                ; no nemeses by default
 :test-kind :append-ints

 :nemesis-delay 50                                          ; sleep 50s between nemesis on/off
 :nemesis-duration 10                                       ; keep nemesis active for 10s

 :mongodb {
           :flavour :original                                 ; currently supports ':original' and ':terraform'
           :major-version 3                                       ; currently supports v2 and v3 - mostly used for replica sets
           :install true
           :configure true
           :username "mongodb"
           :tarball "https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-debian71-3.3.1.tgz"
           :conf-file "mongod.conf.wiredTiger.yml"
           :conf-replacements {
                               "%ENABLE_MAJORITY_READ_CONCERN%" "true"
                               }
           :write-concern :majority
           :read-concern :majority
           :read-with-find-and-modify false
           :protocol-version 1
           :client-options {
                           :max-wait-time 20000
                           :connect-timeout 5000
                           :socket-timeout 10000
                           }
           }
 }