{
 :loglevel :info
 :trace-ssh true

 :nodes [:mongo-0.us-east-1a.i.jpkot.net :mongo-1.us-east-1a.i.jpkot.net :mongo-2.us-east-1a.i.jpkot.net]

 :perfdumpfile "perfdump.json"

 :ssh {:username "username"}

 :time-limit 20

 :mongodb {
   :install false
   :username "mongod"
 }
}

