{
 :scenario "vagrant experiments"
 :loglevel :info

 :trace-ssh false

 :nodes [:n1]

 :perfdumpfile "perfdump.json"

 :ssh {:username "root" :password "root"}

 :time-limit 10

 :mongodb {
           :install true
           :configure true
           }

 }
