{
 :scenario "mongo2 creating people with partition"
 :trace-ssh false

 :os-flavour :null

 :nodes [:mongo-2.6.3_0.us-east-1a.i.jpkot.net :mongo-2.6.3_1.us-east-1a.i.jpkot.net :mongo-2.6.3_2.us-east-1a.i.jpkot.net :mongo-2.6.3_3.us-east-1a.i.jpkot.net :mongo-2.6.3_4.us-east-1a.i.jpkot.net]

 :ssh {:username #or [#env USER "username"]
       :strict-host-key-checking :no }

 :time-limit 900
 :nemesis-delay 300
 :nemesis-duration 60

 :nemesis-kind :partition
 :test-kind :people-test

 :delayer :ramp
 :ramp-initial-ms 5000
 :ramp-final-ms 100
 :ramp-duration 200

 :mongodb {
           :flavour :terraform
           :major-version 2
           :conf-file "mongod.conf.v263.terraform.yml"
           :write-concern :majority
           :read-concern :default                           ; only valid option on mongod 2

           :install false
           :username "mongod"
 }
}

