{
 :scenario     "vagrant experiments"

 :trace-ssh    true

 :nodes        [:n1]

 :perfdumpfile "perfdump.json"

 :ssh          {:username #or [#env SSH_USER "root"] :password "root"}

 :time-limit   10

 :test-kind :people-test

 :nemesis-delay 3
 :nemesis-duration 1
 :nemesis-kind :noop

 :mongodb      {
                :install   false
                :configure true
                }

 }
