{
 :scenario     "vagrant experiments"

 :trace-ssh    true

 :nodes        [:n1]

 :perfdumpfile "perfdump.json"

 :ssh          {:username #or [#env SSH_USER "root"] :password "root"}

 :time-limit   20
 :concurrency 105
 :read-threads 5

 :test-kind :hashed-append

 :nemesis-kind :noop
 :nemesis-delay 3
 :nemesis-duration 1

 :delayer :constant
 :test-delay-secs 1
 :ramp-initial-ms 1000
 :ramp-final-ms 100
 :ramp-duration 10

 :mongodb      {
                :install   false
                :configure true
                }

 }
